
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        table, th, td {
            border: none;
        }

            table.table {
                margin: auto;
            }

        img {
            height: 70px;
            padding-top: 22px;
        }
    </style>
</head>
<body>
    <div style="background-color:white;;text-align:center;">
        <table class="table" width="70%" style="background-color:aliceblue">
            <tr>
                <td class=" head" align="center" style="background-color:yellow">
                    <span style="font-size:30px;">
                        <img src="http://pluspng.com/img-png/welcome-png-welcome-png-pics-image-33289-712.png" />
                    </span>
                    <br />
                    <br />
                </td>

            </tr>
            <tr align="center">
                <td>
                    <br />
                    <br />
                    Dear {{ten}}<br />
                    <br />
                    <p>Chúc mừng bạn đã update thành công thông tin của mình!!!</p>
                    <br />
                    {{Email}}
                    <br />
                    {{ngaysinh}}
                    <br />
                    Chào mừng các bạn đã đến với FPT Software!
                    <br />
                    <br />

                </td>
            </tr>
            <tr>
                <td align="center" style="background-color:yellow">
                    <br />
                    <br />
                    <img src="https://ci4.googleusercontent.com/proxy/szo3hOna_M1lzAk1VTpcXxG8AVDlQ5a_LykL63VEwkr7zt6zFXujvs5PYO302TADZsemcF0C-cXT0DdYfUTzvrBpTKvWhcziyz5um_TQoQEVV0usVk54BqmSXNelb8kkYKOF=s0-d-e1-ft#https://drive.google.com/uc?id=18yeDQVm7g1krLYGniu6rRBO2mmkrFdMG&export=download" />
                    <br />
                    <br />
                </td>
            </tr>
        </table>
        <div class="" style="margin:16px;text-align:center;font-size:12px;color:#888">
            <img style="width:1px;height:1px" src="https://ci4.googleusercontent.com/proxy/vdv8uSnmT-pc6oJEgrY8zvwtpmYNInSU9oA7L_RRRS4-VMwuEa36fL38LZ8YxDhywoXgKfyyXrjpMCPsuW3Obt9fB98rD9ej5VWpq5FUtkpPRJYpqUXH0F2weO8=s0-d-e1-ft#http:///cgi-bin/readtemplate?sid=$SID$&amp;loc=pushmail1,weixiniphone,show,44" class="CToWUd"> <img style="width:1px;height:1px" src="https://ci6.googleusercontent.com/proxy/Kq_Jxebf1ZzSKTutsi4LNl1SA_IoAjJ4Y43m7WRj3vIyV_med-ZpcyUrEpuAVFml-n2i1izJfsauPlQb4d9IpN-dcgJK9UhJxv0hcfuEkIgJM_lc5dEhotXdulrYHnJPwkTS14aw6_o=s0-d-e1-ft#http://weixin.qq.com/cgi-bin/reportforpromote?uin=$RCPTUIN$&amp;sdate=$SDATE$&amp;tver=$TVER$" class="CToWUd">
        </div><div class="yj6qo"></div><div class="adL">
        </div>
    </div>
</body>
</html>